<p id="notice"><%= notice %></p>

<p>
  <strong>Club:</strong>
  <%= @club.club_id %>
</p>

<p>
  <strong>Club name:</strong>
  <%= @club.club_name %>
</p>

<p>
  <strong>League:</strong>
  <%= @club.league %>
</p>

<p>
  <strong>Country:</strong>
  <%= @club.country %>
</p>

<p>
  <strong>Club rating:</strong>
  <%= @club.club_rating %>
</p>

<%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %>
